.grid-item{
  background-color: #fff;
}

.drawing-board {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 15px;
}

header {
  color: #fff;
}
body{
  background-color: rgb(38, 46, 117);
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}