header {
  font-size: 20px;
  color: #fff;
  font-family: "Poppins", "Open Sans",Verdana, Geneva, Tahoma, sans-serif;
}

#header-logo{
  vertical-align: middle;
}

.grid-item{
  background-color: #fff;
}

.drawing-board {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 15px;
}

.user-interaction{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 15px;
  border: none;
}

.size:focus{
  outline: none;
}

.size{
  background: none;
  width: 8em;
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  height: 2em;
}

.choice-buttons{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
}

#clear-grid, #eraser, #single-color, #random-color{
  background-color: transparent;
  transition: 0.025s ease-out;
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
  background-color: #fff;
  color: rgb(38, 46, 117);
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  border: solid 1px #fff;
  text-overflow: ellipsis;
  border-radius: 15px;
}

#eraser, #single-color, #random-color{
  width: 5em;
  flex-grow: 1;
  padding: 5px;
}

.animate-hover{
  transform: scale(1.05);
  box-shadow: 0 0 5px #ffffff;
}

.animate-click{
  transform: scale(0.95);
}

.color-picker{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.color-picker > h2{
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 0;
  width: 8em;
  text-align: center;
  color: rgb(38, 46, 117);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

.color-choice{
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.display-size{
  width: 100%;
  border-radius: 15px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  color: rgb(255,255,255);
}

.slider{
  transition: 0.25s ease-out;
  -webkit-appearance: none;
  background-color: grey;
  border-radius: 15px;
  opacity: 0.5;
}

.slider::-webkit-slider-thumb,.slider::-moz-range-thumb{
  -webkit-appearance: none;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
}

.slider:hover{
  opacity: 1;
}

#clear-grid:hover{
  box-shadow: 0 0 10px rgb(255,255,255);
}

footer{
  margin-top: auto;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Abel","Open Sans", sans-serif, 'Times New Roman', Times, serif;
}

.github-link-holder{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.github-logo:hover{
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 50%;  
}

body{
  background: linear-gradient(to right, #1a2980, #26d0ce);
  width: 100%;
  font-family: "Poppins",'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}